.arena{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

.arena .initial{
  position: relative;
  width: 23rem;
  height: 23rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../assets/images/bg-triangle.svg);
}

.initial .option{
	position: absolute;
}

.arena .action{
	width: 100%;
  display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.action .selected{
	width: 100%;
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.selected p{
	height: fit-content;
	color: var(--grey);
	font-size: 1.1rem;
	font-weight: 900;
	letter-spacing: .2rem;
}

.user{
	position: relative;
}

.wave{
	z-index: -1;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 40%;
	border-radius: 50%;
}

.one{
	width: 10rem;
	height: 10rem;
	background-color: rgba(255, 255, 255, .04);
}

.two{
	width: 15rem;
	height: 15rem;
	background-color: rgba(255, 255, 255, .03);
}

.three{
	width: 20rem;
	height: 20rem;
	background-color: rgba(255, 255, 255, .02);
}

.four{
	width: 25rem;
	height: 25rem;
	background-color: rgba(255, 255, 255, .01);
}

.loading{
	width: 8rem;
	height: 8rem;
	margin: 1rem 0;
	border-radius: 50%;
	animation: loading-bg 1s ease-in-out infinite alternate forwards;
}

.loading-txt{
	animation: loading-txt 1s ease-in-out infinite alternate forwards;
}

@keyframes loading-txt {
	0% {
		color: rgba(255, 255, 255, .07);
  }
  100% {
		color: rgba(255, 255, 255, .03);
  }
}

@keyframes loading-bg {
	0% {
    background-color: rgba(255, 255, 255, .07);
  }
  100% {
    background-color: rgba(255, 255, 255, .03);
  }
}