.menu{
  width: 100%;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  outline: 3px solid var(--header-outline);
}

.menu .logo{
  width: auto;
	height: 3.3rem;
  margin-left: .6rem;
}

.menu .score-box{
  cursor: pointer;
  padding: 9px 3px;
  width: 4.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 5px;
  background-color: var(--grey);
  color: var(--dark-text);
  font-family: 'Barlow Semi Condensed B';
}

.score-box p{
  font-size: .65rem;
  font-weight: 900;
  letter-spacing: .1rem;
  margin-bottom: -.3rem;
}

.score-box .score{
  font-size: 2.4rem;
}

.stat-box{
  z-index: 5;
  position: absolute;
  right: .6rem;
  bottom: -10rem;
  padding: 3px;
  width: 4.8rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 5px;
  background-color: var(--grey);
  color: var(--dark-text);
  font-family: 'Barlow Semi Condensed B';
  transform-origin: top;
  box-shadow: -4px 4px 20px rgba(0, 0, 0, .15);
}

.stat-box img{
  cursor: pointer;
  width: 1rem;
}

.stat-box .score-stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-stats .score{
  font-size: 1.5rem;
}

.hint-one, .hint-two{
  width: fit-content;
	font-size: .8rem;
  font-weight: 900;
  font-family: 'Barlow Semi Condensed B';
  letter-spacing: .1rem;
	padding: .5rem .5rem;
	color: var(--grey);
	position: absolute;
  border-radius: 0 .5rem .5rem 0;
	z-index: 6;
}

.hint-one::after, .hint-two::after{
  content: "";
	position: absolute;
  border-width: .5rem;
  border-style: solid;
}

.hint-one {
	bottom: -1.5rem;
	left: 1.3rem;
	background-image: var(--paper-gradient);
}

.hint-one::after {
	bottom: 99%;
	left: .6rem;
	border-color: transparent transparent hsl(230, 89%, 65%) transparent;
}

.hint-two {
	bottom: -2rem;
	right: .6rem;
	background-image: var(--green-gradient);
}

.hint-two::after {
	bottom: 99%;
	right: 2rem;
	border-color: transparent transparent hsl(142, 53%, 60%) transparent;
}

@media only screen and (min-width: 769px) {
  .menu{
    width: 60%;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    outline: 3px solid var(--header-outline);
  }
  
  .menu .logo{
    width: auto;
    height: 3.3rem;
    margin-left: .6rem;
  }
}