.rules-btn{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: 3px;
  padding: .6rem 2rem;
  color: var(--grey);
  border: none;
  outline: 1px solid var(--grey);
  border-radius: 5px;
  transition: all ease .5s;
}

.rules-btn:hover{
  font-weight: 700;
  color: var(--dark-text);
  outline: none;
  background-color: var(--grey);
}

.rule-box{
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transform-origin: bottom;
  transition: filter 1s ease;
  background-color: rgba(0, 0, 0, 0.3);
}



.rule-box .rules{
  display: grid;
  grid-template-rows: auto auto 5rem;
  justify-items: center;
  align-content: center;
  gap: 9rem;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.rules p{
  color: var(--dark-text);
  font-size: 1.8rem;
  font-family: 'Barlow Semi Condensed B';
	grid-row: 1 / 2;
}

.rules .close-icon{
  cursor: pointer;
  grid-row: 3 / 4;
}

.rules .rules-icon{
  width: 20rem;
	grid-row: 2 / 3;
}

@media only screen and (min-width: 769px) {
  .rules-btn{
		left: 88%;
    bottom: 2rem;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 3px;
    padding: .5rem 1.5rem;
		transform: translateX(-10%) scale(1) translateZ(30px);
  }

  .rule-box{
    transform-origin: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .rule-box .rules{
    width: 400px;
    height: auto;
    grid-template-areas: "txt null btn" "img img img";
    grid-template-rows: 10% 85%;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    gap: 1.5rem;
    padding: 2rem .5rem 3rem;
    border-radius: .5rem;
  }
  
  .rules p{
    color: var(--dark-text);
    font-size: 1.8rem;
    font-family: 'Barlow Semi Condensed B';
    grid-area: txt;
  }
  
  .rules .close-icon{
    width: fit-content;
    grid-area: btn;
  }
  
  .rules .rules-icon{
    width: 20rem;
    grid-area: img;
  }
}