@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url("./assets/fonts/BarlowSemiCondensed-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Barlow Semi Condensed B';
  src: url("./assets/fonts/BarlowSemiCondensed-Bold.ttf") format("truetype");
}

:root {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --grey: #dedede;
  --scissors-gradient: linear-gradient(to bottom, hsl(40, 84%, 53%), hsl(39, 89%, 45%));
  --paper-gradient: linear-gradient(to bottom, hsl(230, 89%, 65%), hsl(230, 89%, 60%));
  --rock-gradient: linear-gradient(to bottom, hsl(349, 70%, 60%), hsl(349, 71%, 50%));
	--lizard-gradient: linear-gradient(to bottom, hsl(259, 69%, 63%), hsl(260, 60%, 49%));
  --cyan: linear-gradient(to bottom, hsl(189, 58%, 53%), hsl(189, 59%, 57%));
  --green-gradient: linear-gradient(to bottom, hsl(142, 53%, 60%), hsl(131, 60%, 30%));
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --radial-gradient: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

::-webkit-scrollbar{
  width: 4px;
}

::-webkit-scrollbar-thumb{
  background-image: var(--cyan);
  border-radius: 10px;
  animation: changing-bg 8s ease-in-out forwards infinite;
}

*{
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	background-image: var(--radial-gradient);
}

button {
  outline: none;
  background: none;
  cursor: pointer;
}

.blur{
	filter: blur(6px);
}

.no-event{
	pointer-events: none;
}

@keyframes changing-bg {
  0%{
    background-image: var(--green-gradient);
  }
  20%{
    background-image: var(--paper-gradient);
  }
  40%{
    background-image: var(--lizard-gradient);
  }
  60%{
    background-image: var(--rock-gradient);
  }
  80%{
    background-image: var(--scissors-gradient);
  }
  100%{
    background-image: var(--cyan);
  }
}

@keyframes loading-txt {
	0% {
		color: rgba(255, 255, 255, .09);
  }
  100% {
		color: rgba(255, 255, 255, .03);
  }
}

@keyframes loading-bg {
	0% {
    background-color: rgba(255, 255, 255, .09);
  }
  100% {
    background-color: rgba(255, 255, 255, .03);
  }
}

@keyframes wave {
  0%{
    width: 7rem;
	  height: 7rem;
    background-color: rgba(255, 255, 255, .05);
  }
  20%{
    width: 12rem;
	  height: 12rem;
    background-color: rgba(255, 255, 255, .04);
  }
  40%{
    width: 17rem;
	  height: 17rem;
    background-color: rgba(255, 255, 255, .03);
  }
  60%{
    width: 22rem;
	  height: 22rem;
    background-color: rgba(255, 255, 255, .02);
  }
  80%{
    width: 27rem;
	  height: 27rem;
    background-color: rgba(255, 255, 255, .01);
  }
  100%{
    width: 32rem;
	  height: 32rem;
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes dsktop-wave {
	0%{
		width: 10rem;
		height: 10rem;
		background-color: rgba(255, 255, 255, .05);
	}
	20%{
		width: 15rem;
		height: 15rem;
		background-color: rgba(255, 255, 255, .04);
	}
	40%{
		width: 20rem;
		height: 20rem;
		background-color: rgba(255, 255, 255, .03);
	}
	60%{
		width: 25rem;
		height: 25rem;
		background-color: rgba(255, 255, 255, .02);
	}
	80%{
		width: 30rem;
		height: 30rem;
		background-color: rgba(255, 255, 255, .01);
	}
	100%{
		width: 35rem;
		height: 35rem;
		background-color: rgba(255, 255, 255, 0);
	}
}

@keyframes shake {
	0%{
		transform: rotateZ(0);
	}
	20%{
		transform: rotateZ(30deg);
	}
  35%{
		transform: rotateZ(0);
	}
	55%{
		transform: rotateZ(30deg);
	}
	75%{
		transform: rotateZ(0);
	}
  85%{
		transform: rotateZ(30deg);
	}
  100%{
    transform: rotateZ(0);
  }
}